@using CustomersAndOrders.Entities;
@using System.Web.Script.Serialization;
@model CustomersViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Dynamically Create Table</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/JS/appTable.js"></script>


    <link rel="stylesheet" href="~/Style/appTable.css" />
    @*<link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/fontawesome.css" />*@
    @*<link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/fontawesome.min.css" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />


    @*<script src="~/fontawesome-free-6.4.0-web/js/fontawesome.js"></script>*@
    @*<script src="~/fontawesome-free-6.4.0-web/js/fontawesome.min.js"></script>*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>

        var customerAppTable;

        $(document).ready(function () {

            //bindInvoiceCustomerSites();
            $('#loadTableButton').click(function () {
               bindCustomers();
            })
        });

        function bindCustomers() {

            jAjaxCall('GET', '@Url.Content("~/Customers/Get")', '', 'application/json; charset=utf-8', function (response) {
                createCustomerTable(response);
            });
        }


        function openCustomerPopup(CustomerId) {
            debugger;
            if (CustomerId > 0) {
                debugger;
                $("#addeditCustomerLabel").text('Edit Customer');
                jAjaxCall('GET', '/Customers/Edit?customerId=' + CustomerId, '', 'application/json; charset=utf-8', function (response) {
                    debugger;
                    //$("#divCustomerAddEditModalBody").html(response);
                    $("#customerModal").modal();
                    $("#customerModal").show();
                    if ($("#customerModal").hasClass("in") == false) {
                        $("#customerModal").addClass("in");
                    }
                    $(".modal-open").css("overflow", "hidden");
                });
            }
            //else {
            //    $("#addeditCustomerLabel").text('Add Customer')
            //}

            //var customerViewEntity =
            //{
            //    customerId: CustomerId
            //};

            //var jsonData = JSON.stringify(customerViewEntity, null, 2);
            /*var token = $('[name=__RequestVerificationToken]').val();*/

                //here data is whatever your WebService.asmx/getList returned
                //populate your dropdown here with your $.each w/e
        }

        function refreshPageSiteList() {
            $(".modal-open").css("overflow", "auto");
            $(".modal-open").css("padding-right", "0px");
            bindInvoiceCustomerSites();
        }

        function createCustomerTable(result) {
            var customerConfig = {
                id: 'customerTableId', //table id
                header: true,
                rowCalculation: true,
                columns: [
                    { text: 'CustomerId', fieldName: 'CustomerId', width: '1%', hidden: true },
                    { text: 'Name', fieldName: 'Name', width: '15%', allowSorting: "SortDataBasedOnSelectedColumn(event,'Name',customerAppTable,'customerDiv');", sortOrder: $('#CustomerNameSortOrder').val() },
                    { text: 'Address', fieldName: 'Address', width: '18%', allowSorting: "SortDataBasedOnSelectedColumn(event,'Address',customerAppTable,'customerDiv');", sortOrder: $('#CustomerAddressSortOrder').val() },
                    { text: 'PhoneNumber', fieldName: 'PhoneNumber', width: '13%', allowSorting: "SortDataBasedOnSelectedColumn(event,'PhoneNumber',customerAppTable,'customerDiv');", sortOrder: $('#CustomerPhoneNumberSortOrder').val() },
                    {
                        text: '', fieldName: 'Edit', width: '2%', renderer:
                            function (data, element) {
                                if (data.CustomerId > 0) {
                                    $(element).html('<div style="cursor:pointer; color: #2cc5c9;" class="glyphicon glyphicon-edit" onClick="openCustomerPopup(\'' + data.CustomerId + '\')"></div>');
                                }
                            }
                    },
                    {
                        text: '', fieldName: 'IsDeleteAllowed', width: '2%', renderer:

                            function (data, element) {
                                if (data.CustomerId > 0) {
                                    $(element).html('<div style="cursor: pointer; color: #C9302C;" class="glyphicon glyphicon-remove btn-customer-delete"></div>');
                                }
                            }
                    }
                ],
                data: result
            };
            customerAppTable = new dpTable(customerConfig);
            var appTable = customerAppTable.html();
            $('#customerDiv').html($(appTable));

            //attching click event to cross button
            $(".btn-customer-delete").click(function () {
                var CustomerId = $(this).closest('ul').find("li[name='CustomerId']").text();
                DeleteCustomer(CustomerId);
            });

        }

         // delete customer
         function DeleteCustomer(CustomerId) {
             bootbox.confirm(window.AlertMessages.ConfirmForDelete, function (result) {
                 if (result) {
                     if (CustomerId != "" && CustomerId != null) {
                         jAlert.error({ title: '', text: 'Invalid  site association' });
                     }
                     var jsonData = JSON.stringify({
                         customerId: CustomerId,
                     }, null, 2);

                     //var token = $('[name=__RequestVerificationToken]').val();
                     jAjaxCall('GET', '@Url.Content("~/Vendor/DeleteInvoiceVendorSite/")', jsonData, 'application/json; charset=utf-8', function (response) {
                         jAlert.success({ title: window.AlertMessages.DeleteSuccess, text: '' });
                         refreshPageList();
                     });
                 }
             });
        }


        function jAjaxCall(method, url, querystring, returnType, callBackFunction) {
            // var contenttype = ise(returnType) ? 'application/x-www-form-urlencoded; charset=UTF-8' : returnType;
            var contenttype = (returnType != "" && returnType != null) ? 'application/x-www-form-urlencoded; charset=UTF-8' : returnType;

            $.ajax({
                url: url,
                type: method,
                data: querystring,
                datatype: 'json',

                contentType: contenttype,
                success: function (response) {

                    if (response.OK != undefined && response.OK == false) {
                        jAlert.error({ title: '', text: response.Message });
                    } else {

                        if (callBackFunction != undefined) {
                            eval(callBackFunction)(response);
                        } else {

                            return response;
                        }
                    }
                }
            });
        }



    </script>
</head>
<body>

    <div class="pull-right">
        <button type="button" class="btn btn-success" tabindex="3" style="cursor: pointer; margin-bottom: 10px; margin-right:10px;" onclick="openCustomerPopup(0) "><i class="fa fa-plus">&nbsp;Add</i></button>
    </div>

    <button type="button" class="btn btn-dark btn-primary" style="cursor:pointer" id="loadTableButton">Load Table</button>
    <br />
    <div class="topspace" id="customerDiv">

    </div>

    <div class="modal fade" id="customerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addeditCustomerLabel">
        <div class="modal-dialog" style="margin-top: 138px;width:70%;" role="document">
            <div class="modal-content">
                <div class="modal-header style="justify-content:center;">
                    <button type="button" class="close closepop" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"  id="addeditCustomerLabel"></h4>
                </div>

                <div id="divCustomerAddEditModalBody" class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="Name">Name:</label>
                            <input type="text" class="form-control" id="name" name="Name">
                        </div>
                        <div class="form-group">
                            <label for="Address">Address:</label>
                            <input type="text" class="form-control" id="address" name="Address">
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number:</label>
                            <input type="text" class="form-control" id="phone" name="PhoneNumber">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="CustomerNameSortOrder" value="1" />
    <input type="hidden" id="CustomerAddressSortOrder" value="1" />
    <input type="hidden" id="CustomerPhoneNumberSortOrder" value="1" />

</body>
</html>

<style>
    .close {
        float: right;
        font-size: 24px !important;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        /*filter: alpha(opacity=20);*/
    }

    #invoiceCustomerSiteTableId thead tr th:nth-child(1),
    #invoiceCustomerSiteTableId tbody tr td:nth-child(1) {
        width: 2% !important;
        text-align: center;
    }
</style>
